@import '../abstracts/variables.scss';
*::selection{
	color:$color_dark;
	background-color: $color_primary_400;
}

.sr-only{
	opacity:0;
	width: 0;
	height: 0;
	position: absolute;
	top:-9999px;
	left:-9999px;
	pointer-events: none;
}