@import './../abstracts/animations.scss';

@mixin wrapper($width, $padding){
	max-width: $width;
	margin-inline: auto;
	width: 100%;
	@if $padding != 0 {
		padding-inline: $padding;
	}
}

@mixin desktop {
	@media (min-width: $min-lg) {
		@content;
	}
}

@mixin laptop {
	@media (min-width: $min-md) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: $min-sm) {
		@content;
	}
}

@mixin afterBgdAnimation{
	position:relative;
	&:not(.beforeAnimation):after{
		animation-name: threeColoursGradient;
		animation-duration: .5s;
		animation-fill-mode: forwards;
	}
	&:after{
		content:"";
		pointer-events: none;
		position:absolute;
		top:0;
		left:1px;
		width: calc(100% + 1px);
		height: calc(100% + 2px);
		background-position:left 100% center;
		background-image: linear-gradient(
			to right,
			transparent calc(100% / 3 + 1px),
			$color_light calc(100% / 3 + 1px),
			$color_light calc(100% / 3 * 2 - 1px),
			$color_primary_600 calc(100% / 3 * 2 - 1px),
			$color_primary_600 100%,
		);
		background-size: 300%;
	}
}

@mixin thinScrollbar{
	overflow-y: auto;
	scrollbar-color: $color_primary_600 transparent;
	scrollbar-width: thin;
	&::-webkit-scrollbar-track {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	&::-webkit-scrollbar {
		width: 14px;
		height: 8px;
	}
	&::-webkit-scrollbar-thumb {
		background-color: $color_primary_600;
		border-radius: 999999px;
		border:solid 5px transparent;
		background-clip: padding-box;
	}
}