// Colors
$color_light: #FFFBEC;
$color_dark: #563B2A;

$color_primary_400: #A3B18A;
$color_primary_500: #588157;
$color_primary_600: #3A5A40;


// Spacings
$main_container: 1245px;
$main_padding: 15px;


$icons: 'email', 'linkedin', 'github', 'instagram';